<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjj.dao.userMapper">
    <select id="getUser"  resultType="com.hjj.model.User">
        select * from user;
    </select>

    <insert id="insertUser"  parameterType="com.hjj.model.User">
        insert into user (username,password) values (#{username},#{password});
    </insert>
</mapper>